<div class="relative  w-full bg-black">
    <div class="w-[80%] flex-col justify-center mx-auto text-white">
        <div class="w-full relative bg-[#3c3c3c] hover:bg-[#4d4d4d]">
            <h1 class="py-6 px-6 text-2xl">What is Netflix?</h1>
            <button class="absolute top-4 right-4 text-green-500 hover:text-green-700 focus:outline-none">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor"
                    class="w-12 h-12 text-white">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M12 6v6m0 0v6m0-6h6m-6 0H6"></path>
                </svg>
            </button>
        </div>
        <div class="w-full relative bg-[#3c3c3c] mt-4 hover:bg-[#4d4d4d]">
            <h1 class="py-6 px-6 text-2xl">What much does Netflix cost?</h1>
            <button class="absolute top-4 right-4 text-green-500 hover:text-green-700 focus:outline-none">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor"
                    class="w-12 h-12 text-white">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M12 6v6m0 0v6m0-6h6m-6 0H6"></path>
                </svg>
            </button>
        </div>
        <div class="w-full relative bg-[#3c3c3c] mt-4 hover:bg-[#4d4d4d]">
            <h1 class="py-6 px-6 text-2xl">Where can I watch?</h1>
            <button class="absolute top-4 right-4 text-green-500 hover:text-green-700 focus:outline-none">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor"
                    class="w-12 h-12 text-white">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M12 6v6m0 0v6m0-6h6m-6 0H6"></path>
                </svg>
            </button>
        </div>
        <div class="w-full relative bg-[#3c3c3c] mt-4 hover:bg-[#4d4d4d]">
            <h1 class="py-6 px-6 text-2xl">how do I cancel?</h1>
            <button class="absolute top-4 right-4 text-green-500 hover:text-green-700 focus:outline-none">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor"
                    class="w-12 h-12 text-white">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M12 6v6m0 0v6m0-6h6m-6 0H6"></path>
                </svg>
            </button>
        </div>
        <div class="w-full relative bg-[#3c3c3c] mt-4 hover:bg-[#4d4d4d]">
            <h1 class="py-6 px-6 text-2xl">What can I watch on Netflix?</h1>
            <button class="absolute top-4 right-4 text-green-500 hover:text-green-700 focus:outline-none">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor"
                    class="w-12 h-12 text-white">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M12 6v6m0 0v6m0-6h6m-6 0H6"></path>
                </svg>
            </button>
        </div>
        <div class="w-full relative bg-[#3c3c3c] mt-4 hover:bg-[#4d4d4d]">
            <h1 class="py-6 px-6 text-2xl">Is Netflix good for kids?</h1>
            <button class="absolute top-4 right-4 text-green-500 hover:text-green-700 focus:outline-none">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor"
                    class="w-12 h-12 text-white">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M12 6v6m0 0v6m0-6h6m-6 0H6"></path>
                </svg>
            </button>
        </div>
        <div class="w-full relative bg-[#3c3c3c] mt-4 hover:bg-[#4d4d4d]">
            <h1 class="py-6 px-6 text-2xl">Why am I seeing language?</h1>
            <button class="absolute top-4 right-4 text-green-500 hover:text-green-700 focus:outline-none">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor"
                    class="w-12 h-12 text-white">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M12 6v6m0 0v6m0-6h6m-6 0H6"></path>
                </svg>
            </button>
        </div>
    </div>
</div>