<footer class="bg-black">
    <div class="mx-auto w-full max-w-screen-xl py-12">
        <div class="grid grid-cols-2 gap-8 px-4 py-6  lg:py-8 md:grid-cols-4">
            <div>
                <h2 class="mb-6 font-medium text-gray-400">Questions? Contact us.
                </h2>
                <ul class=" dark:text-gray-400 font-medium">
                    <li class="mb-4">
                        <a href="#" class=" hover:underline">FAQ</a>
                    </li>
                    <li class="mb-4">
                        <a href="#" class="hover:underline">Investor Relations</a>
                    </li>
                    <li class="mb-4">
                        <a href="#" class="hover:underline">Privacy</a>
                    </li>
                    <li class="mb-4">
                        <a href="#" class="hover:underline">Speed Test</a>
                    </li>
                    <li class="mb-4">
                        <app-select-leng-btn></app-select-leng-btn>
                    </li>
                    <li class="mb-4">
                        <a href="#" class="hover:underline">Netflix Georgia</a>
                    </li>
                </ul>
            </div>
            <div>
                <h2 class="mb-6 text-sm font-semibold text-gray-900 uppercase dark:text-white"> </h2>
                <ul class="text-gray-500 dark:text-gray-400 font-medium">
                    <li class="mb-4">
                        <a href="#" class="hover:underline">Help Center</a>
                    </li>
                    <li class="mb-4">
                        <a href="#" class="hover:underline">Jobs</a>
                    </li>
                    <li class="mb-4">
                        <a href="#" class="hover:underline">Cookie Preferences</a>
                    </li>
                    <li class="mb-4">
                        <a href="#" class="hover:underline">Legal Notices</a>
                    </li>
                </ul>
            </div>
            <div>
                <h2 class="mb-6 text-sm font-semibold text-gray-900 uppercase dark:text-white"></h2>
                <ul class="text-gray-500 dark:text-gray-400 font-medium">
                    <li class="mb-4">
                        <a href="#" class="hover:underline">Account</a>
                    </li>
                    <li class="mb-4">
                        <a href="#" class="hover:underline">Ways to Watch</a>
                    </li>
                    <li class="mb-4">
                        <a href="#" class="hover:underline">Corporate Information</a>
                    </li>
                    <li class="mb-4">
                        <a href="#" class="hover:underline">Only on Netflix</a>
                    </li>
                </ul>
            </div>
            <div>
                <h2 class="mb-6 text-sm font-semibold text-gray-900 uppercase dark:text-white"></h2>
                <ul class="text-gray-500 dark:text-gray-400 font-medium">
                    <li class="mb-4">
                        <a href="#" class="hover:underline">Media Center</a>
                    </li>
                    <li class="mb-4">
                        <a href="#" class="hover:underline">Terms of Use</a>
                    </li>
                    <li class="mb-4">
                        <a href="#" class="hover:underline">Contact Us</a>
                    </li>
                </ul>
            </div>
        </div>

    </div>
</footer>