<header>
    <nav class=" border-gray-200 px-4 lg:px-6 py-2.5 ">
        <div class="flex flex-wrap justify-between items-center mx-auto max-w-screen-3xl">

            <div class="flex items-center text-[14px] align-center text-center">
                <a routerLink="/home">
                    <h2 class="text-3xl font-bold items center text-red-600 ">NETFLIX</h2>
                    <span class="self-center text-xl font-semibold whitespace-nowrap dark:text-white"></span>
                </a>
                <div class="flex ">
                    <div class="pr-4 pl-12">
                        <span>Home</span>
                    </div>
                    <div class="px-4">
                        <span>TV Shows</span>
                    </div>
                    <div class="px-4">
                        <span>Movies</span>
                    </div>
                    <div class="px-4">
                        <span>Latest</span>
                    </div>
                    <div class="px-4">
                        <span>My List</span>
                    </div>
                    <div class="px-4">
                        <span>
                            Browse By Language
                        </span>
                    </div>
                </div>
            </div>



            <div class="flex items-center lg:order-2">
                <div class="flex ">
                    <div class="pr-4 pl-12">
                        <span>Home</span>
                    </div>
                    <div class="px-4">
                        <span>TV Shows</span>
                    </div>
                    <div class="px-4">
                        <span>Movies</span>
                    </div>
                    <div class="px-4">
                        <span>Latest</span>
                    </div>

                </div>
            </div>

            <div class="hidden justify-between items-center w-full lg:flex lg:w-auto lg:order-1" id="mobile-menu-2">
            </div>
        </div>
    </nav>
</header>